div.sendMessage {
    padding: 10px 5px;
    height: initial;
}
.sendHeader {
    background: #224e84 linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
    color: #fff;
    padding: 0 10px;
}
.sendBody textarea {
    margin: 0 14px 5px 0;
    height: 104px;
    display: block;
    width: 100%;
    border: 1px solid #D3D0D0;
    padding: 2px 5px;
    background: #f0f0f0;
    color: #696f75;
}
div.outData {
    margin: 0 14px 5px 0;
    height: 350px;
    display: block;
    width: 100%;
    border: 1px solid #00000054;
    padding: 6px 5px;
    background: #666;
    color: #fff;
    overflow: auto;
}